.container {
  display: flex;
  justify-content: space-around;
  background-color: #f8f9fa;
  margin-bottom: 4px;
  position: fixed;
  top: 68px;
  left: 0;
  right: 0;
  transition: all 300ms;
}

.open {
  transform: translateY(0);
  transition: all 300ms;
  height: 60px;
  z-index: 30;
  box-shadow: 0 0 15px gray;
  border-radius: 0 0 10px 10px;
}

.closed {
  transform: translateY(-50);
  transition: all 300ms;
  z-index: 30;
  opacity: 0;
  pointer-events: none;
}
